<?xml version="1.0" ?>
<!--
Copyright 2017 www.sitewards.com

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

@category Sitewards
@package  Sitewards_Prometheus
@license  apache-2.0
-->
<config>
    <modules>
        <Littlemanco_Prometheus>
            <version>1.0.0</version>
        </Littlemanco_Prometheus>
    </modules>
    <global>
        <models>
            <littlemanco_prometheus>
                <class>Littlemanco_Prometheus_Model</class>
                <resourceModel>littlemanco_prometheus_resource</resourceModel>
            </littlemanco_prometheus>
            <littlemanco_prometheus_resource>
                <class>Littlemanco_Prometheus_Model_Resource</class>
            </littlemanco_prometheus_resource>
        </models>
        <helpers>
            <littlemanco_prometheus>
                <class>Littlemanco_Prometheus_Helper</class>
            </littlemanco_prometheus>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <!-- Listen to the cache refresh events -->
            <adminhtml_cache_refresh_type>
                <observers>
                    <metric_adminhtml_cache_refresh_type>
                        <class>littlemanco_prometheus/observer</class>
                        <method>checkpointCache</method>
                    </metric_adminhtml_cache_refresh_type>
                </observers>
            </adminhtml_cache_refresh_type>
            <!-- Listen to all the reindex events. Must be subscribed to separately, as there is no "reindex all" event
                 more generally. -->
            <after_reindex_process_catalog_product_attribute>
                <observers>
                    <metric_after_reindex_process_catalog_product_attribute>
                        <class>littlemanco_prometheus/observer</class>
                        <method>checkpointIndex</method>
                    </metric_after_reindex_process_catalog_product_attribute>
                </observers>
            </after_reindex_process_catalog_product_attribute>
            <after_reindex_process_catalog_product_price>
                <observers>
                    <metric_after_reindex_process_catalog_product_price>
                        <class>littlemanco_prometheus/observer</class>
                        <method>checkpointIndex</method>
                    </metric_after_reindex_process_catalog_product_price>
                </observers>
            </after_reindex_process_catalog_product_price>
            <after_reindex_process_catalog_url>
                <observers>
                    <metric_after_reindex_process_catalog_url>
                        <class>littlemanco_prometheus/observer</class>
                        <method>checkpointIndex</method>
                    </metric_after_reindex_process_catalog_url>
                </observers>
            </after_reindex_process_catalog_url>
            <after_reindex_process_catalog_product_flat>
                <observers>
                    <metric_after_reindex_process_catalog_product_flat>
                        <class>littlemanco_prometheus/observer</class>
                        <method>checkpointIndex</method>
                    </metric_after_reindex_process_catalog_product_flat>
                </observers>
            </after_reindex_process_catalog_product_flat>
            <after_reindex_process_catalog_category_flat>
                <observers>
                    <metric_after_reindex_process_catalog_category_flat>
                        <class>littlemanco_prometheus/observer</class>
                        <method>checkpointIndex</method>
                    </metric_after_reindex_process_catalog_category_flat>
                </observers>
            </after_reindex_process_catalog_category_flat>
            <after_reindex_process_catalog_category_product>
                <observers>
                    <metric_after_reindex_process_catalog_category_product>
                        <class>littlemanco_prometheus/observer</class>
                        <method>checkpointIndex</method>
                    </metric_after_reindex_process_catalog_category_product>
                </observers>
            </after_reindex_process_catalog_category_product>
            <after_reindex_process_catalogsearch_fulltext>
                <observers>
                    <metric_after_reindex_process_catalogsearch_fulltext>
                        <class>littlemanco_prometheus/observer</class>
                        <method>checkpointIndex</method>
                    </metric_after_reindex_process_catalogsearch_fulltext>
                </observers>
            </after_reindex_process_catalogsearch_fulltext>
            <after_reindex_process_cataloginventory_stock>
                <observers>
                    <metric_after_reindex_process_cataloginventory_stock>
                        <class>littlemanco_prometheus/observer</class>
                        <method>checkpointIndex</method>
                    </metric_after_reindex_process_cataloginventory_stock>
                </observers>
            </after_reindex_process_cataloginventory_stock>
            <after_reindex_process_tag_summary>
                <observers>
                    <metric_after_reindex_process_tag_summary>
                        <class>littlemanco_prometheus/observer</class>
                        <method>checkpointIndex</method>
                    </metric_after_reindex_process_tag_summary>
                </observers>
            </after_reindex_process_tag_summary>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <littlemanco_prometheus>
                <use>standard</use>
                <args>
                    <module>Littlemanco_Prometheus</module>
                    <frontName>metrics</frontName>
                </args>
            </littlemanco_prometheus>
        </routers>
    </frontend>
    <crontab>
        <events>
            <default>
                <observers>
                    <cron_observer>
                        <class>littlemanco_prometheus/observer</class>
                        <method>checkpointCron</method>
                    </cron_observer>
                </observers>
            </default>
            <always>
                <observers>
                    <cron_observer>
                        <class>littlemanco_prometheus/observer</class>
                        <method>checkpointCron</method>
                    </cron_observer>
                </observers>
            </always>
        </events>
    </crontab>
</config>
